---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import { Image, Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="px-2 py-14 md:px-6">
    {
      post.data.heroImage && (
        <Picture
          src={post.data.heroImage}
          alt={post.data.title}
          class="w-full object-cover object-bottom"
        />
      )
    }
    <article
      class="prose md:prose-lg prose-stone dark:prose-invert prose-headings:font-serif prose-h2:text-2xl prose-h3:text-2xl prose-h4:text-xl prose-headings:mb-4 prose-code:font-jetbrains prose-p:font-charter prose-li:font-charter mark !max-w-none pt-12"
    >
      <div class="flex flex-col items-start gap-2">
        <h1 class="!font-serif !text-3xl !font-medium">
          {post.data.title}
        </h1>
        <FormattedDate date={post.data.pubDate} />
      </div>
      <Content />
    </article>
  </div>
</Layout>
