---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import GithubLogo from "phosphor-astro/GithubLogo.astro";
import LinkedinLogo from "phosphor-astro/LinkedinLogo.astro";
import XLogo from "phosphor-astro/XLogo.astro";
import BlueskyLogo from "src/assets/bluesky_logo.svg";
import FormattedDate from "src/components/FormattedDate.astro";
import { Image } from "astro:assets";
import Avatar from "src/assets/images/avatar.png";
import Contributions from "src/components/Contributions";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="flex flex-col gap-y-20 py-20">
    <!-- Hero section -->
    <section class="flex flex-col gap-y-6">
      <div class="grid grid-cols-1 gap-8 px-2 md:grid-cols-2 md:px-6">
        <Image
          src={Avatar}
          alt="Martin Ryberg Laude"
          class="mx-auto w-full max-w-[80px] rounded md:max-w-full"
        />
        <div class="flex flex-col gap-y-6 text-center md:text-start">
          <h1
            class="font-serif text-4xl tracking-tight text-black dark:text-white"
          >
            Martin Ryberg Laude
          </h1>
          <p class="text-md max-w-2xl font-light text-black dark:text-white">
            Swedish guy passionate about software, design, and anything
            inbetween.
          </p>
          <div class="grid grid-cols-2 gap-4 md:mx-0 md:max-w-none">
            <div
              class="relative h-10 rounded border border-black bg-[url('/src/assets/images/texture.png')] bg-cover"
            >
              <a
                href="https://github.com/martinryberglaude"
                class="absolute inset-0 inline-flex h-full w-full -translate-x-[2px] -translate-y-[2px] items-center gap-2 rounded border border-black bg-[#62cfbf] px-5 text-sm font-medium text-black transition hover:translate-x-0 hover:translate-y-0 hover:border-transparent"
              >
                <GithubLogo class="w-4" />
                Github
              </a>
            </div>
            <div
              class="relative h-10 rounded border border-black bg-[url('/src/assets/images/texture.png')] bg-cover"
            >
              <a
                href="https://www.linkedin.com/in/martinryberglaude/"
                class="absolute inset-0 inline-flex h-full w-full -translate-x-[2px] -translate-y-[2px] items-center gap-2 rounded border border-black bg-[#62cfbf] px-5 text-sm font-medium text-black transition hover:translate-x-0 hover:translate-y-0 hover:border-transparent"
              >
                <LinkedinLogo class="w-5" />
                LinkedIn
              </a>
            </div>

            <div
              class="relative h-10 rounded border border-black bg-[url('/src/assets/images/texture.png')] bg-cover"
            >
              <a
                href="https://x.com/mrlaudeirl"
                class="absolute inset-0 inline-flex h-full w-full -translate-x-[2px] -translate-y-[2px] items-center gap-2 rounded border border-black bg-[#62cfbf] px-5 text-sm font-medium text-black transition hover:translate-x-0 hover:translate-y-0 hover:border-transparent"
              >
                <XLogo class="w-4" />
              </a>
            </div>
            <div
              class="relative h-10 rounded border border-black bg-[url('/src/assets/images/texture.png')] bg-cover"
            >
              <a
                href="https://bsky.app/profile/mrlaude.com"
                class="absolute inset-0 inline-flex h-full w-full -translate-x-[2px] -translate-y-[2px] items-center gap-2 rounded border border-black bg-[#62cfbf] px-5 text-sm font-medium text-black transition hover:translate-x-0 hover:translate-y-0 hover:border-transparent"
              >
                <BlueskyLogo class="w-4" width="16" height="16" />
                Bluesky
              </a>
            </div>
          </div>
          <div class="flex flex-1 flex-col justify-end">
            <p
              class="text-md text-center font-light text-black md:text-start dark:text-white"
            >
              Founding engineer @ <a href="https://ednia.se" class="underline"
                >Ednia</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="flex flex-col gap-y-6">
      <h2
        class="ml-2 font-serif text-3xl font-light text-black md:ml-6 dark:text-white"
      >
        Latest articles
      </h2>
      <ul class="flex flex-col gap-6 p-2 md:p-6">
        {
          posts.slice(0, 3).map((post) => (
            <li>
              <a
                href={`/articles/${post.id}`}
                class="group block transition hover:cursor-pointer"
              >
                <div class="flex items-start justify-between">
                  <h3 class="text-md mb-2 font-medium group-hover:underline dark:text-white">
                    &gt; {post.data.title}
                  </h3>
                  <FormattedDate date={post.data.pubDate} />
                </div>
                <p class="text-sm font-light text-black dark:text-white">
                  {post.data.description}
                </p>
              </a>
            </li>
          ))
        }
      </ul>
      <div
        class="relative ml-2 h-10 w-fit rounded border border-black bg-[url('/src/assets/images/texture.png')] bg-cover md:ml-6"
      >
        <a
          href="/articles"
          class="inline-flex h-full -translate-x-[2px] -translate-y-[2px] items-center gap-2 rounded border border-black bg-[#62cfbf] px-5 text-sm font-medium whitespace-nowrap text-black transition hover:translate-x-0 hover:translate-y-0 hover:border-transparent active:translate-x-px active:translate-y-px"
        >
          All articles →
        </a>
      </div>
    </section>
    <section class="flex flex-col gap-y-6">
      <h2
        class="ml-2 font-serif text-3xl font-light text-black md:ml-6 dark:text-white"
      >
        Products
      </h2>
      <ul class="flex flex-col gap-6 p-2 md:p-6">
        <li>
          <a href={`/solsken`} class="group block">
            <h3
              class="text-md font-medium group-hover:underline dark:text-white"
            >
              &gt; Solsken
            </h3>
            <p class="text-sm font-light text-black dark:text-white">
              Accessible and detailed weather tailored for the Nordics.
            </p>
          </a>
        </li>
        <li>
          <a href={`/startrack`} class="group block">
            <h3
              class="text-md font-medium group-hover:underline dark:text-white"
            >
              &gt; Startrack
            </h3>
            <p class="text-sm font-light text-black dark:text-white">
              Favorite songs in Apple Music from your menu bar.
            </p>
          </a>
        </li>
        <li>
          <a href={`/ultrawider`} class="group block">
            <h3
              class="text-md font-medium group-hover:underline dark:text-white"
            >
              &gt; Ultrawider
            </h3>
            <p class="text-sm font-light text-black dark:text-white">
              Get rid of the black bars.
            </p>
          </a>
        </li>
        <li>
          <a href={`/gamesquad`} class="group block">
            <h3
              class="text-md font-medium group-hover:underline dark:text-white"
            >
              &gt; Gamesquad
            </h3>
            <p class="text-sm font-light text-black dark:text-white">
              Squad up and vote for what games to play.
            </p>
          </a>
        </li>
      </ul>
    </section>
    <section class="flex flex-col gap-y-6 text-black dark:text-white">
      <h2 class="ml-2 font-serif text-3xl font-light md:ml-6">Contributions</h2>
      <Contributions client:only="react">
        <Fragment slot="fallback">
          <div
            class="flex h-36 w-full items-center justify-center rounded-md bg-stone-200 dark:bg-stone-800"
          >
            <p>Loading contributions...</p>
          </div>
        </Fragment>
      </Contributions>
    </section>
  </div>
</Layout>
