---
import type Post from "../interfaces/post";
import Page from "./Page.astro";
import { Marked } from "marked";
import { markedHighlight } from "marked-highlight";
import hljs from "highlight.js";
import sanitizeHtml from "sanitize-html";
import Wideness from "../components/Wideness";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const { attributes } = post;
const { title, description, author, pubDate, updateDate, content } = attributes;

const marked = new Marked(
  { mangle: false },
  markedHighlight({
    langPrefix: "hljs language-",
    highlight(code, lang) {
      const language = hljs.getLanguage(lang) ? lang : "plaintext";
      return hljs.highlight(code, { language }).value;
    },
  })
);
const html = marked.parse(content);
sanitizeHtml(html);
---

<Page navTitle="Blog" title={title} description={description}>
  <Wideness client:load />
  <address class="author">
    By <a rel="author" href="/about">{author}</a>
  </address>
  <h1 class="post-title">{title}</h1>
  <div class="dates-wrapper">
    <time>
      {
        new Date(pubDate).toLocaleString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric",
        })
      }
    </time>
    {
      updateDate && (
        <p class="updatedDate">
          Updated:
          <time>
            {new Date(updateDate).toLocaleString("en-US", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })}
          </time>
        </p>
      )
    }
  </div>
  <p class="desc">{description}</p>
  <article set:html={html} />
</Page>
